Package: com.h7ang0.zentweak
Name: ZenPopup
Version: 1.0-1
Architecture: iphoneos-arm
Description: 自定义弹窗插件
Maintainer: H7ang0 & 窦窦
Author: H7ang0 & 窦窦
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Depends: firmware (>= 13.0)
Depends: ellekit (>= 1.0) | mobilesubstrate 